<div class="navbar">
    <a href="#home" class="currency-exchange"></a>
    <div class="float-right">

        <button pButton pRipple label={{eurUSDLabel}} (click) = "gotToDetails('USD')"
            class="p-button-raised p-button-sm p-button-rounded p-button-secondary">
        </button>
        &nbsp;
        <button pButton pRipple label={{eurGBPLabel}} (click) = "gotToDetails('GBP')"
            class="p-button-raised p-button-sm p-button-rounded p-button-secondary">
        </button>
    </div>
</div>